@inherits LayoutComponentBase

@using BlazorPro.BlazorSize

@code {
    private bool _hideSearchBox = false;
    private SideBar _sideBar;
}

<MediaQueryList>
    <MediaQuery Media="@Breakpoints.SmallDown" @bind-Matches="_hideSearchBox" />

    <TopBar HideSearchBox="_hideSearchBox" ToggleSideBar="() => _sideBar.ToggleSideBar()" />
    <div style="white-space:nowrap;">
        <SideBar @ref="_sideBar" ShowSearchBox="_hideSearchBox" />
        <div class="p-2" style="overflow:hidden">
            @Body
        </div>
    </div>
</MediaQueryList>