
@code {
    [Parameter]
    public ItemTab Item { get; set; }

    protected override bool ShouldRender()
    {
        //TODO eliminate unnecessary rendering
        return base.ShouldRender();
    }
}

<div>
    Item tab content (@Item.Title).
</div>