
@code {
    [Parameter]
    public ListTab List { get; set; }

    protected override bool ShouldRender()
    {
        //TODO eliminate unnecessary rendering
        return base.ShouldRender();
    }
}

<div>
    List tab content (@List.Title).
</div>