@inject ReaderService _readerService

@code {
    //TODO
    //move nav menu to this project (better as a separate component)
    //another 2 components to show list and content
    //group everything in this component

    //TODO
    //add scoped service

    //TODO
    //add 404 handling
    //change routes

    protected override void OnInitialized()
    {
        _readerService.UpdateTabContainer += StateHasChanged;
        base.OnInitialized();
    }
}

<TabHeaderComponent />

<div class="row">
    @foreach (var tab in _readerService.GetTabs())
    {
        <div class="col-12" style="@(tab.IsSelected ? "" : "display:none")">
            <div class="p-2">
                @switch (tab)
                {
                case ItemTab itemTab:
                    <ItemTabComponent Item="itemTab" />
                    break;
                case ListTab listTab:
                    <ListTabComponent List="listTab" />
                    break;
                }
            </div>
        </div>
    }
</div>
