<h3>MainComponent</h3>

@code {
    //TODO
    //move nav menu to this project (better as a separate component)
    //another 2 components to show list and content
    //group everything in this component

    //TODO
    //add scoped service

    //TODO
    //add 404 handling
    //change routes
}
